[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
pandas = "*"
numpy = "*"
jupyter = "*"
lab = "*"
jupyterlab = "*"
wget = "*"

[requires]
python_version = "3.7"
